<div class ="container">
<%= form_for @user, url: '/users' do |f|%>

  <body id = "dog">Username (minimum of 5 characters) </body> <%= f.text_field :username, :size=>"50", class: "form-control"%> </br>
  <body id = "dog">Email </body> <%= f.text_field :email, class: "form-control" %> </br>
  <body id = "dog">Password(6 - 20 characters) </body> <%= f.password_field :password, class: "form-control" %> </br>
  	<body id = "dog">Password Confirmation </body> <%= f.password_field :password_confirmation, class: "form-control" %> </br>
  	<%= f.submit "Submit" , class: "btn btn-primary"%>
<% end %>
</div>