<center><h1 id = "cat">Become a member!</h1>
<% if @user.errors.any? %>
	<div class="alert alert-danger">
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= form_for @user, url: '/users' do |f|%>

  <body id = "dog">Name </body> <%= f.text_field :username, :size=>"50", class: "form-control"%> </br>
  <body id = "dog">Email </body> <%= f.text_field :email, class: "form-control" %> </br>
  <body id = "dog">Password</body> <%= f.password_field :password, class: "form-control" %> </br>
  	<body id = "dog">Password Confirmation </body> <%= f.password_field :password_confirmation, class: "form-control" %> </br>
  	<%= f.submit "Submit" , class: "btn btn-primary"%>
<% end %>
</center>