<style>
    body {
        background-color: #CFE6FA;
        font-weight: 200;
    }
    .section-container {
        font-size: 24px;
        min-height: 200px;
        border: 20px yellow;
        position: relative;
        background-color: #A0CBEE;
        margin: 50px auto;
        width: 600px;
        padding: 20px;
        border: 2px solid black;
        border-style: solid;
    }
    .page-title {
        top: 30px;
    }
    .main-container {
        position: relative;
        background-color: #CFE6FA;
    }
    .section-title {
        position: relative;
    }
    .page-title {
        position: relative;
    }
</style>

<div class = "main-container">
	<div class="row">
		<div class="col-sm-3">
			<%= render 'sidebar' %>
			<%= link_to "View Course", course_path(@course.id), class: "btn btn-default", style: "float: left" %>
			<%= link_to "Delete Course", course_path(@course.id), method: :delete, class: "btn btn-danger", style: "float: left"%>

		</div>
		<div class="col-sm-8">
			<h1><%= @course.title %></h1>
			<div id="section-body">
				<%= render 'section_forms' %>
			</div>
		</div>
	</div>
</div>