<span>Signed in as <%= current_user.username %> | </span> <%= link_to "logout", logout_path %>

<h1>Courses</h1>
<h2>
    <h3>Courses you're currently taking:</h3>
    <% current_user.courses.each do |course| %> 
    <body>
        <% if course.user_id != current_user.id %>
            <%= link_to course.title, preview_courses_url(course.id) %>
        <% end %>
        <br>
    </body>
    <% end %>
    <h3>All other courses</h3>
     <% Course.all.each do |course| %> 
    <body>
        <% if (course.user_id != current_user.id) && (!current_user.courses.include? course) %>
            <%= link_to course.title, preview_courses_url(course.id) %>
        <% end %>
        <br>
    </body>
    <% end %>
</h2>

<%= link_to "Create Course", new_course_path, class: "btn btn-primary"%>
